@{
    ViewBag.Title = "Item Single Total";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model List<PFC_Toolbox.v._4._0.Models.ItemSingleTotalModel>

    var startDate = Request["startDate"];
    var endDate = Request["endDate"];
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />

<h1 style="float:right;"><img src="~/Content/PFC_Logo_128px.png" width="100" height="100">@(ViewBag.Store)</h1>
<h2 style="float:left;">Item Single Total by UPC</h2>
<hr style="clear:both" />
<h4>@startDate &nbsp;&nbsp; to &nbsp;&nbsp; @endDate</h4>

<br />

<div>
    <fieldset title="Item Results">
        <table id="results" class="display text-nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Subdepartment</th>
                    <th>Brand</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Weight</th>
                    <th>Total Sales</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ItemCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.Subdept)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemBrand)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemDescription)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemSize)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesWeight)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesTotal)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesQuantity)</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th style="text-align:center">Total:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </fieldset>
</div>

<br />

<div>
    <fieldset title="Report Totals">
        <table id="report totals" class="display text-nowrap" style="width:25%">
            <thead>
                <tr>
                    <th>Total Weight</th>
                    <th>Total Sales</th>
                    <th>Total Units</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@String.Format("{0}", ViewBag.TotalWeight)</td>
                    <td>@String.Format("{0:C}", ViewBag.TotalSales)</td>
                    <td>@String.Format("{0}", ViewBag.TotalUnits)</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Editor-1.8.1/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#results').DataTable({

                select: true,

                dom: '<"floatRight"B><"clear">lfrtip',
                buttons: [{
                    extend: 'collection',
                    text: 'Export',
                    autoClose: true,
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print'
                    ]
                }],

                // Footer Totals
                "footerCallback": function (row, data, start, end, display) {

                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[)\$,]/g, '').replace(/[(]/g, '-') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Remove formatting to get float data for summation
                    var decVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[)\$,]/g, '').replace(/[(]/g, '-') :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Sum weight column
                    pageTotalWeight = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(pageTotalWeight.toFixed(3));

                    // Sum quantity column
                    pageTotalUnits = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(7).footer()).html(pageTotalUnits.toFixed(2));

                    // Sum sales column
                    pageTotalSales = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(6).footer()).html('$' + pageTotalSales.toFixed(2));
                }
            });
        });
    </script>
}