@{
    ViewBag.Title = "Item Single Total by Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model List<PFC_Toolbox.v._4._0.Models.ItemSingleTotalbyBrandModel>

    var startDate = Request["startDate"];
    var endDate = Request["endDate"];
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />

<h1 style="float:right;"><img src="~/Content/PFC_Logo_128px.png" width="100" height="100">@(ViewBag.Store)</h1>
<h2 style="float:left;">Item Single Total by Brand</h2>
<hr style="clear:both" />
<h3>@(ViewBag.brand)</h3>
<h4>@startDate &nbsp;&nbsp; to &nbsp;&nbsp; @endDate</h4>

<br />

<div>
    <fieldset title="Item Results">
        <table id="results" class="display text-nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Subdepartment</th>
                    <th>Brand</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Weight</th>
                    <th>Total Sales</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ItemCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.Subdept)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemBrand)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemDescription)</td>
                            <td>@Html.DisplayFor(modelItem => item.ItemSize)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesWeight)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesTotal)</td>
                            <td>@Html.DisplayFor(modelItem => item.SalesQuantity)</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th style="text-align:center">Total:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </fieldset>
</div>

<br />

<div>
    <fieldset title="Report Totals">
        <table id="report totals" class="display text-nowrap" style="width:25%">
            <thead>
                <tr>
                    <th class="text-center">Total Weight</th>
                    <th class="text-center">Total Sales</th>
                    <th class="text-center">Total Units</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">@String.Format("{0}", ViewBag.TotalWeight)</td>
                    <td align="center">@String.Format("{0:C}", ViewBag.TotalSales)</td>
                    <td align="center">@String.Format("{0}", ViewBag.TotalUnits)</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Editor-1.8.1/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
           table = $('#results').DataTable({

                // Default table lengths
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                dom: '<"floatRight"B><"clear">lfrtip',
                buttons: [{
                    extend: 'collection',
                    text: 'Export',
                    autoClose: true,
                    buttons: [
                        {
                            extend: 'copy',
                            filename: 'ISTBBrand-"@startDate"-"@endDate"',
                            footer: true
                        },
                        {
                            extend: 'excelHtml5',
                            filename: 'ISTBBrand-"@startDate"-"@endDate"',
                            footer: true,
                            title: '',
                            exportOptions: {
                                rows: ':visible'
                            },
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                var sheetStyle = xlsx.xl['styles.xml'];
                                var rowsDisplayed = table.page.info().length;
                                var rowsReturned = table.rows().count();
                                var clR = $('row', sheet);
                                var lastXfIndex = $('cellXfs xf', sheetStyle).length - 1;
                                var lastFontIndex = $('fonts font', sheetStyle).length - 1;
                                var lastBorderIndex = $('borders border', sheetStyle).length - 1;

                                var rows = 0;
                                if (rowsDisplayed == -1) {
                                    rows = rowsReturned;
                                }
                                else if (rowsDisplayed < rowsReturned) {
                                    rows = rowsDisplayed;
                                }
                                else {
                                    rows = rowsReturned;
                                }

                                var f12 = '<font><sz val="12" /><name val="Calibri" /></font>';
                                var f14 = '<font><sz val="14" /><name val="Calibri" /></font>';
                                var f18 = '<font><sz val="18" /><name val="Calibri" /></font>';
                                var bb = '<border><left/><right/><top/><bottom style="thin"><color indexed="64"/></bottom><diagonal/></border>';
                                var tb = '<border><left/><right/><top style="thin"><color indexed="64"/></top><bottom/><diagonal/></border>';
                                var xfFont12 = '<xf numFmtId="0" fontId="' + (lastFontIndex + 1) + '" fillId="0" borderId="0" applyFont="1" applyFill = "1" applyBorder = "1" xfId = "0" applyAlignment = "1"/>';
                                var xfFont14 = '<xf numFmtId="0" fontId="' + (lastFontIndex + 2) + '" fillId="0" borderId="0" applyFont="1" applyFill = "1" applyBorder = "1" xfId = "0" applyAlignment = "1"/>';
                                var xfFont18 = '<xf numFmtId="0" fontId="' + (lastFontIndex + 3) + '" fillId="0" borderId="0" applyFont="1" applyFill = "1" applyBorder = "1" xfId = "0" applyAlignment = "1"/>';
                                var xfbB = '<xf numFmtId="0" fontId="0" fillId="0" borderId="' + (lastBorderIndex + 1) + '" xfId="0" applyBorder="1"/>';
                                var xftB = '<xf numFmtId="0" fontId="0" fillId="0" borderId="' + (lastBorderIndex + 2) + '" xfId="0" applyBorder="1"/>';

                                sheetStyle.childNodes[0].childNodes[1].innerHTML += f12 + f14 + f18;
                                sheetStyle.childNodes[0].childNodes[3].innerHTML += bb + tb;
                                sheetStyle.childNodes[0].childNodes[5].innerHTML += xfFont12 + xfFont14 + xfFont18 + xfbB + xftB;

                                var font12 = lastXfIndex + 1;
                                var font14 = lastXfIndex + 2;
                                var font18 = lastXfIndex + 3;
                                var bottomBorder = lastXfIndex + 4;
                                var topBorder = lastXfIndex + 5;

                                // Update cell size to 12
                                var tagName = sheetStyle.getElementsByTagName('sz');
                                tagName[5].setAttribute("val", "12");
                                tagName[6].setAttribute("val", "14");
                                tagName[7].setAttribute("val", "18");

                                // Update Row
                                var numrows = 4;
                                var clR = $('row', sheet);
                                clR.each(function () {
                                    var attr = $(this).attr('r');
                                    var ind = parseInt(attr);
                                    ind = ind + numrows;
                                    $(this).attr("r", ind);
                                });

                                // Create row before data
                                $('row c ', sheet).each(function () {
                                    var attr = $(this).attr('r');
                                    var pre = attr.substring(0, 1);
                                    var ind = parseInt(attr.substring(1, attr.length));
                                    ind = ind + numrows;
                                    $(this).attr("r", pre + ind);
                                });

                                function Addrow(index, data) {
                                    var msg = '<row r="' + index + '">'
                                    for (var i = 0; i < data.length; i++) {
                                        var key = data[i].key;
                                        var value = data[i].value;
                                        msg += '<c t="inlineStr" r="' + key + index + '">';
                                        msg += '<is>';
                                        msg += '<t>' + value + '</t>';
                                        msg += '</is>';
                                        msg += '</c>';
                                    }
                                    msg += '</row>';
                                    return msg;
                                }

                                var footerColumns = ['B', 'C', 'D', 'E', 'I'];
                                var footer = '<row r="' + (rows + 6) + '">';
                                for (var i = 0; i < footerColumns.length; i++) {
                                    footer += '<c r="' + footerColumns[i] + (rows + 6) + '" s="2"><v></v></c>';
                                }
                                footer += '</row>';

                                // Insert
                                var r1 = Addrow(1, [{ key: 'A', value: 'Item Single Total by Brand: @(ViewBag.Store)' }]);
                                var r2 = Addrow(2, [{ key: 'A', value: '@(ViewBag.brand)' }]);
                                var r3 = Addrow(3, [{ key: 'A', value: '@startDate   to   @endDate' }]);
                                var r4 = Addrow(5, [{ key: 'I', value: '' }]);

                                sheet.childNodes[0].childNodes[1].innerHTML = r1 + r2 + r3 + r4 + sheet.childNodes[0].childNodes[1].innerHTML + footer;

                                $('row c[r="A1"]', sheet).attr('s', font18);
                                $('row c[r="A2"]', sheet).attr('s', font14);
                                $('row c[r="A3"]', sheet).attr('s', font12);

                                var headerColumns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'];
                                for (var i = 0; i < headerColumns.length; i++) {
                                    $('row c[r="' + headerColumns[i] + '5"]', sheet).attr('s', bottomBorder);
                                    $('row c[r="' + headerColumns[i] + (rows + 6) + '"]', sheet).attr('s', topBorder);
                                }
                            }
                        },
                        {
                            extend: 'csv',
                            filename: 'ISTBBrand-"@startDate"-"@endDate"',
                            footer: true
                        },
                        {
                            extend: 'pdf',
                            filename: 'ISTBBrand-"@startDate"-"@endDate"',
                            footer: true
                        },
                        {
                            extend: 'print',
                            filename: 'ISTBBrand-"@startDate"-"@endDate"',
                            footer: true
                        }
                    ]
                }],

                // Footer Totals
                "footerCallback": function (row, data, start, end, display) {

                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[)\$,]/g, '').replace(/[(]/g, '-') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Remove formatting to get float data for summation
                    var decVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[)\$,]/g, '').replace(/[(]/g, '-') :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Sum weight column
                    pageTotalWeight = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(pageTotalWeight.toFixed(3));

                    // Sum quantity column
                    pageTotalUnits = api
                        .column(7, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(7).footer()).html(pageTotalUnits.toFixed(2));

                    // Sum sales column
                    pageTotalSales = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(6).footer()).html('$' + pageTotalSales.toFixed(2));
                }
            });
        });
    </script>
}