@{
    ViewBag.Title = "Purchases Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model List<PFC_Toolbox.v._4._0.Models.PurchasesReportModel>

    var startDate = Request["startDate"];
    var endDate = Request["endDate"];
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />

<h1 style="float:right;"><img src="~/Content/PFC_Logo_128px.png" width="100" height="100">@(ViewBag.Store)</h1>
<h2 style="float:left;">Purchases Report</h2>
<hr style="clear:both" />
<h3>@(ViewBag.brand)</h3>
<h4>@startDate &nbsp;&nbsp; to &nbsp;&nbsp; @endDate</h4>

<br />

<div>
    <fieldset title="Item Results">
        <table id="results" class="display text-nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Date</th>
                    <th>Vendor</th>
                    <th>Amount</th>
                    <th>Subdepartment</th>
                    <th>Location</th>
                    <th>Reconciled</th>
                    <th>Notes</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.VendorID)</td>
                            <td>@Html.DisplayFor(modelItem => item.PurchaseAmount)</td>
                            <td>@Html.DisplayFor(modelItem => item.SubdepartmentID)</td>
                            <td>@Html.DisplayFor(modelItem => item.LocationID)</td>
                            <td>@Html.DisplayFor(modelItem => item.PurchaseReconciled)</td>
                            <td>@Html.DisplayFor(modelItem => item.PurchaseMemo)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </fieldset>
</div>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Editor-1.8.1/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // New Purchase Form: moment data foramtter.
            $.fn.dataTable.moment('M/D/YYYY');
            $.fn.dataTable.moment('M/D/YYYY h:mm:ss A');

            table = $('#results').DataTable({
                columns: [
                    { data: "InvoiceNumber" },
                    {
                        data: "PurchaseDate",
                        render: function (value) {
                            if (value === null) return "";
                            return window.moment(value).format('M/D/YYYY');
                        }
                    },
                    { data: "VendorID" },
                    { data: "PurchaseAmount" },
                    { data: "SubdepartmentID" },
                    { data: "LocationID" },
                    { data: "PurchaseReconciled" },
                    { data: "PurchaseMemo" },
                    { data: "CreatedBy" },
                    {
                        data: "DateCreated",
                        render: function (value) {
                            if (value === null) return "";
                            return window.moment(value).format('M/D/YYYY h:mm:ss A');
                        }
                    }
                ],
                // Default table lengths
                lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "All"]],
                dom: '<"floatRight"B><"clear">lfrtip',
                order: [[9, "asc"]],
                buttons: [
                    {
                        // Export table button
                        extend: 'collection', text: 'Export', autoClose: true,
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                        ]
                    },
                    {
                        // Show default view filter button
                        text: 'Show Default View', action: function (e, dt, node, config) {
                            table.search('')
                                .columns().search('')
                                .columns().order('')
                                .page.len(15)
                                .column(9).order('asc').draw()
                        }
                    }

                ],
            });
        });
    </script>
}