
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<hr />

<h3>SMS Reports</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Item Single Total by UPC</h4>
        <p>Find itemized sales by specific UPC's.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemSingleTotal", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Item Single Total by Brand</h4>
        <p>Find itemized sales for an entire brand.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemSingleTotalbyBrand", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Item Single Total by Category</h4>
        <p>Find itemized sales for an entire category.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemSingleTotalbyCategory", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Item Single Total by Coupon</h4>
        <p>Find itemized sales for all active coupons.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemSingleTotalbyCoupon", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Item Single Total by Subdepartment</h4>
        <p>Find itemized sales for an entire subdepartment.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemSingleTotalbySubdepartment", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Contribution to Margin by Subdepartment</h4>
        <p>Find itemized sales and contribution to margin metrics by subdepartment.</p>
        <p><a class="btn btn-default" href='@Url.Action("CTMSubdepartment", "Reports")'>Click here &raquo;</a></p>
    </div>
</div>

<hr />

<h3>Item Information</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Item Lookup by UPC</h4>
        <p>Find information about a specific product by UPC.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemLookupByUPC", "SMS")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Item Lookup by Brand</h4>
        <p>Search for products by brand.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemLookupByBrand", "SMS")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Item Lookup by Description</h4>
        <p>Search for products by a description.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemLookupByDescription", "SMS")'>Click here &raquo;</a></p>
    </div>
</div>