
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentation</h2>

<hr />

<h3>Product Maintenance</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Wisconsin Tax Details</h4>
        <p>Find tax information on products in Wisconsin.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/taxdetailsWI.pdf")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Minnesota Tax Details</h4>
        <p>Find tax information on products in Minnesota.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/taxdetailsMN.pdf")'>Click here &raquo;</a></p>
    </div>
</div>

<hr />

<h3>SMS</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Printing Labels & Signage</h4>
        <p>Instructions on how to print shelf tags and signage from a Skorpio and SMS workstation.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/labelsandsignage.pdf")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>SMS Data Entry Standards</h4>
        <p>A brief introduction to PLU/UPC formats, data entry standards, and SMS's tables.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/smsstandards.pdf")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>SMS Help Guide</h4>
        <p>Download an SMS help guide.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/SMSUsers.chm")'>Click here &raquo;</a></p>
    </div>
</div>

@*<hr />

<h3>Logs</h3>
<div class="row">
    <div class="col-md-4">
        <h4>New purchase invoice</h4>
        <p>How to enter a new purchase invoice in Toolbox.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemLookupByUPC", "SMS")'>Click here &raquo;</a></p>
    </div>
</div>*@