
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentation</h2>

<hr />

<h3>Product Maintenance</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Add A New Product</h4>
        <p>Learn the basics of filling out a new product request form.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/addanewproduct.mp4")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Generate A New PLU</h4>
        <p>Learn how to generate a new plu and the difference between a Mettler PLU and POS PLU.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/generateanewplu.mp4")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Enter A New Brand</h4>
        <p>Learn how to enter a new brand.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/enteranewbrand.mp4")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>SRP Calculator</h4>
        <p>Learn how to use the SRP calculator.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/srpcalculator.mp4")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Submit Another &amp; Copy</h4>
        <p>Learn how to use the Submit Another and Copy buttons.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/submitanotherandcopy.mp4")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Run A Promotion Report</h4>
        <p>Learn how to run and export a promotion report.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/promotionreport.mp4")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Export A New Product</h4>
        <p>Learn how to export new products to SMS.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/exportanewproduct.mp4")'>Click here &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h4>Wisconsin Tax Details</h4>
            <p>Find tax information on products in Wisconsin.</p>
            <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/taxdetailsWI.pdf")'>Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Minnesota Tax Details</h4>
            <p>Find tax information on products in Minnesota.</p>
            <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/taxdetailsMN.pdf")'>Click here &raquo;</a></p>
        </div>*@
</div>

<hr />

<h3>SMS</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Printing Labels & Signage</h4>
        <p>Instructions on how to print shelf tags and signage from a Skorpio and SMS workstation.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/labelsandsignage.pdf")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>SMS Data Entry Standards</h4>
        <p>A brief introduction to PLU/UPC formats, data entry standards, and SMS's tables.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/smsstandards.pdf")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>SMS Help Guide</h4>
        <p>Download an SMS help guide.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/SMSUsers.chm")'>Click here &raquo;</a></p>
    </div>
</div>

<hr />

<h3>Logs</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Add A New Invoice</h4>
        <p>Learn how to enter a new purchase invoice in Toolbox.</p>
        <p><a class="btn btn-default" href='@Url.Content("~/Content/Documentation/addanewinvoice.mp4")'>Click here &raquo;</a></p>
    </div>
</div>