
@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logs</h2>

<hr />

<h3>Log Entry</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Purchases</h4>
        <p>Record purchases.</p>
        <p><a class="btn btn-default" href='@Url.Action("CreatePurchases", "Logs")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Writeoffs</h4>
        <p>Record writeoffs.</p>
        <p><a class="btn btn-default" href='@Url.Action("CreateWriteoffs", "Logs")'>Click here &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h4>Expirations</h4>
            <p>Record expirations.</p>
            <p><a class="btn btn-default" href='@Url.Action("CreateExpirations", "Logs")'>Click here &raquo;</a></p>
        </div>*@
</div>

<hr />

<h3>Log Summaries</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Purchases</h4>
        <p>Weekly summary of purchases.</p>
        <p><a class="btn btn-default" href='@Url.Action("PurchasesSummary", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Writeoffs</h4>
        <p>Weekly summary of writeoffs.</p>
        <p><a class="btn btn-default" href='@Url.Action("WriteoffsSummary", "Reports")'>Click here &raquo;</a></p>
    </div>
</div>

<hr />

<h3>Log Reports</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Purchases</h4>
        <p>Find purchases by date range and store.</p>
        <p><a class="btn btn-default" href='@Url.Action("PurchasesReport", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Writeoffs</h4>
        <p>Find writeoffs by date range and store.</p>
        <p><a class="btn btn-default" href='@Url.Action("WriteoffsReport", "Reports")'>Click here &raquo;</a></p>
    </div>
</div>